PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster-url/chic-db
# Uncomment for local development if you run MongoDB on localhost:27017
# MONGO_URI=mongodb://127.0.0.1:27017/chic_db
JWT_SECRET=super-secure-jwt-secret
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
NODE_ENV=development

